{% extends "base.html" %}

{% block content %}
    <h2>Избранное</h2>
    {% for bookmark in bookmarks %}
        <div>
            <h2><a href="{% url 'question_detail' id=bookmark.question.id %}">{{ bookmark.question.title }}</a></h2>
            <p>{{ bookmark.question.text|truncatechars:100 }}</p>
            <p><a href="{% url 'delete_bookmark' bookmark.id %}">Удалить из избранного</a></p>
        </div>
    {% empty %}
        <p>У вас пока нет вопросов в избранном.</p>
    {% endfor %}
{% endblock %}
