{% extends 'base.html' %}

{% block title %}Лента{% endblock %}

{% block content %}
    <h1>Лента</h1>
    {% for question in questions %}
        <div>
            <h2><a href="{% url 'question_detail' question.id %}">{{ question.title }}</a></h2>
            {% if question.image %}
                <img style="max-width: 500px" src="{{ question.image.url }}">
            {% endif %}
            <p>{{ question.text }}</p>
            <div class="votes">
                <a href="{% url 'upvote_question' question.id %}">🔺</a>
                <span>{{ question.get_rating }}</span>
                <a href="{% url 'downvote_question' question.id %}">🔻</a>
            </div>
            <div>
                <p>{{ question.top_answer.text }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}