{% extends "base.html" %}

{% block content %}
    <h2>{{ question.title }}</h2>
    <p>{{ question.text }}</p>

    {% if request.user.is_authenticated %}
    {% if bookmark %}
        <a href="{% url 'delete_bookmark' bookmark.id %}">Remove Bookmark</a>
    {% else %}
        <a href="{% url 'add_bookmark' question.id %}">Add Bookmark</a>
    {% endif %}
{% endif %}

    <h2>Answers</h2>
    {% for answer in answers %}
        <div>
            <p>{{ answer.text }}</p>
            <p>By {{ answer.user.username }} at {{ answer.pub_date }}</p>
        </div>
    {% endfor %}

    <h2>Post a new answer</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
{% endblock %}

